@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Abril;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Abril/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../assets/fonts/Lato/Lato-Light.ttf");
}

body {
  background: radial-gradient(
        94.29% 94.29% at -19.41% -32.57%,
        #edf1d6 0%,
        #9dc08b 0%,
        #edf1d6 85.01%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
      94.29% 94.29% at -19.41% -32.57%,
      #edf1d6 0%,
      #9dc08b 0%,
      #edf1d6 85.01%
    );
  background-repeat: no-repeat;
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}

/******Section realisation********/

/*Gestion grid des blocs*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.single-column {
  grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
}

.single-column .card-container {
  grid-column: 1 / -1 !important;
}

/*Style des blocs filtrés*/
.filtered {
  display: flex;
  justify-content: center;
  grid-column-start: 1 !important;
  grid-column-end: 13 !important;
}

@media screen and (max-width: 768px) {
  .single-columnfiltered .card-container {
    grid-column-start: 1 !important;
    grid-column-end: 13 !important;
  }
}

/*****Fin section realisation*****/
